/* only for article */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* nav bar design */
nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
    margin: 30px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}
/* btn design */
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-top: 200px;
    
    
}
.btn-design{
    background-color: rgb(239, 126, 86) ;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
/* table design */
table{
    border-collapse: separate;
    border-spacing: 5px;
    border: 2px solid black;
}
 
td ,th{
     border: 1px solid black;
    padding: 10px;
      background-color: #f9f9f9;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
    th{
        font-weight: bold;
    }

    /* Form */
    form div{
        
        padding: 10px;
    }

    /* article */
    
    .earth-box{
        text-align: justify;
        width: 674px;
        margin: 100px auto;
      
    }

    .earth a{
        text-decoration: none; 
        color: rgb(109, 109, 240);
    }
    ul a{
        text-decoration: none;
        color: black;
    }
    
    .at{
        display: flex;
        gap: 20px;
        list-style: none;
        color: black;
    }

    /* media */
    .media{
        margin: 10px;
        padding: 20px;
    }


    /* Shared style */

    a:hover{
        color: red;
    }